body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fotoHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.container {
  color: blue;
}
.container p {
  color: rgb(253, 251, 251);
}
.containerSecB {
  color: black;
}
.containerSecC {
  color: rgb(49, 44, 44);
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
